@import "./fonts.css";
@import "@fortawesome/fontawesome-svg-core/styles.css";

html,
body {
  font-family: "SourceSansPro", Helvetica, sans-serif;
  font-size: 16px;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
