@import "./fonts.css";
@import "@fortawesome/fontawesome-svg-core/styles.css";

html,
body {
  font-family: "SourceSansPro", Helvetica, sans-serif;
  font-size: 16px;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

@counter-style winners-list {
  system: fixed ;
  symbols: "\1F947" "\1F948"  "\1F949" "\1F644" '\1F926';
  suffix: " ";
}
